---
title: About Us | Metro Cebu North Force
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="stretched">

    {% include amp-analytics.html %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

        {% include header.html %}
        
        <!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-mini">
            
            <div class="container clearfix">
                <h1>About Us</h1>
                <span>Everything you need to know about our Company</span>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

		<section id="content">
            
            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="col_full">

                        <div class="heading-block center nobottomborder">
                            <h2>Interactive Office Environment</h2>
                            <span>Manulife’s strong leadership team is composed of men and women who are experts in their fields.</span>
                        </div>

                        <div class="fslider" data-pagi="false" data-animation="fade">
                            <div class="flexslider">
                                <div class="slider-wrap">
                                    <div class="slide"><a href="#"><img src="/images/about/4.jpg" alt="About Image"></a></div>
                                    <div class="slide"><a href="#"><img src="/images/about/5.jpg" alt="About Image"></a></div>
                                    <div class="slide"><a href="#"><img src="/images/about/6.jpg" alt="About Image"></a></div>
                                    <div class="slide"><a href="#"><img src="/images/about/7.jpg" alt="About Image"></a></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col_one_third center" data-animate="bounceIn">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-users"></i>
                        <div class="counter counter-large" style="color: #3498db;"><span data-from="100" data-to="18051" data-refresh-interval="5" data-speed="1500"></span></div>
                        <h5>Clients Served</h5>
                    </div>

                    <div class="col_one_third center" data-animate="bounceIn" data-delay="400">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-briefcase"></i>
                        <div class="counter counter-large" style="color: #16a085;"><span data-from="100" data-to="2154" data-refresh-interval="50" data-speed="3500"></span></div>
                        <h5>Advisers and Agents</h5>
                    </div>

                    <div class="col_one_third center col_last" data-animate="bounceIn" data-delay="600">
                        <i class="i-plain i-xlarge divcenter nobottommargin icon-cup"></i>
                        <div class="counter counter-large" style="color: #9b59b6;"><span data-from="100" data-to="874" data-refresh-interval="30" data-speed="2700"></span></div>
                        <h5>Parties Held</h5>
                    </div>

                    <div class="clear"></div>

                    <div class="promo promo-light bottommargin">
                        <h3>Email us at <span>{{ site.email }}</span></h3>
                        <span>We'd like to hear from you. If there is anything we can help you with?</span>
                        <a href="/activities/" class="button button-xlarge button-rounded">Our Activities</a>
                    </div>

                    <div class="heading-block center">
                        <h2>Metro Cebu North Force</h2>
                        <span>Our Team Members who have contributed immensely to our Growth</span>
                    </div>

                    <div class="row clearfix">

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="/images/team/boyar.jpg" alt="Boy Archie">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Boy Archie</h4><span>Branch Head</span></div>
                                    <div class="team-content">
                                        <p>Former District Director of Toastmaster's International. </p>
                                    </div>
                                    <a href="https://www.facebook.com/aristides.archie" class="social-icon si-rounded si-small si-light si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="https://www.facebook.com/lgmboy.archie" class="social-icon si-rounded si-small si-light si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="mailto:boy_archie@manulife.com.ph" class="social-icon si-rounded si-small si-light si-gplus">
                                        <i class="icon-envelope"></i>
                                        <i class="icon-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="/images/team/unit-manager.jpg" alt="Jane Doe">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Jane Doe</h4><span>Unit Manager</span></div>
                                    <div class="team-content">
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                    </div>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="/images/team/8.jpg" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Mary Jane</h4><span>Senior Financial Adviser</span></div>
                                    <div class="team-content">
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                    </div>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 bottommargin">
                            <div class="team team-list clearfix">
                                <div class="team-image">
                                    <img src="/images/team/agent.jpg" alt="Nix Maxwell">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><h4>Agent Orange</h4><span>Agent</span></div>
                                    <div class="team-content">
                                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                    </div>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="section topmargin-sm footer-stick">

                    <h4 class="uppercase center">What <span>Clients</span> Say?</h4>

                    <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#"><img src="/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                                    </div>
                                    <div class="testi-content">
                                        <p>Insurance is important for a family and Manulife is a reliable company!</p>
                                        <div class="testi-meta">
                                            Sharon
                                            <span>Hongkong</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#"><img src="/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                                    </div>
                                    <div class="testi-content">
                                        <p>Choose a job you love, and you will never have to work a day in your life</p>
                                        <div class="testi-meta">
                                            Confucius
                                            <span>&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#"><img src="/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                                    </div>
                                    <div class="testi-content">
                                        <p>If a child, a spouse, a life partner, or a parent depends on you and your income, you need a life insurance</p>
                                        <div class="testi-meta">
                                            Suze Orman
                                            <span>www.suzeorman.com</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#"><img src="/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                                    </div>
                                    <div class="testi-content">
                                        <p>Great things in business are never done by one person. They're done by a team of people</p>
                                        <div class="testi-meta">
                                            Steve Jobs
                                            <span>Apple Inc.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="testi-image">
                                        <a href="#"><img src="/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                                    </div>
                                    <div class="testi-content">
                                        <p>The most basic human desire is to feel like you belong. Fitting in is important</p>
                                        <div class="testi-meta">
                                            Simon Sinek
                                            <span>www.startwithwhy.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>

		{% include footer.html %}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>