---
title: Services | Metro Cebu North Force
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="stretched">
    {% include amp-analytics.html %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include header.html %}

		<!-- Page Title
		============================================= -->
		<section id="page-title">
            
            <div class="container clearfix">
                <h1>Services</h1>
                <span>We provide Amazing Solutions</span>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Services</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="col_one_third nobottommargin">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="/images/services/1.jpg" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc">
                                <h3>Why choose Us.<span class="subtitle">A track record you can count on </span></h3>
                                <p>Since 1887, we’ve been helping customers like you with their big financial decisions.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col_one_third nobottommargin">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="/images/services/2.jpg" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc">
                                <h3>Our Mission.<span class="subtitle">Our purpose is for you.</span></h3>
                                <p>To help people achieve their dreams and aspirations, by putting customers' needs first and providing the right advice and solutions.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col_one_third nobottommargin col_last">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="/images/services/3.jpg" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc">
                                <h3>What we Do.<span class="subtitle">Make our Customers Happy.</span></h3>
                                <p>From saving for your children’s education to planning for retirement, protecting your family’s financial future means you can spend more time enjoying the moments that matter today.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="section">

                    <div class="container clearfix">

                        <div class="heading-block center">
                            <h2>We'll Help You All The Way.</h2>
                            <span>Talk to your trusted friendly financial adviser for a broader insight.</span>
                        </div>

                        <div class="col_full">

                            <img data-animate="fadeIn" class="aligncenter" src="/images/services/7.jpg" alt="Macbook">

                        </div>

                        <div class="col_one_third nobottommargin">

                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="i-alt">1.</i></a>
                                </div>
                                <h3>Talk to A Financial Adviser</h3>
                                <p>Before you start your journey, you need to talk to a financial adviser and come up with the best plan for you.</p>
                            </div>

                        </div>

                        <div class="col_one_third nobottommargin">

                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="i-alt">2.</i></a>
                                </div>
                                <h3>Choose A Plan</h3>
                                <p>With the help of your trusted financial adviser, choose the best plan that suites your needs.</p>
                            </div>

                        </div>

                        <div class="col_one_third nobottommargin col_last">

                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="i-alt">3.</i></a>
                                </div>
                                <h3>Enjoy A Worry-free life</h3>
                                <p>Once everything is set, enjoy life to the fullest, knowing everything is taken cared of.</p>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="container clearfix">

                    <div class="col_two_fifth topmargin nobottommargin" style="min-height: 350px;">
                        <img src="/images/services/health.jpg" alt="Personal health Plan">
                    </div>

                    <div class="col_three_fifth nobottommargin col_last">

                        <div class="heading-block">
                            <h3>Personal Health Plans</h3>
                            <span>Protect Life's Most Important Asset</span>
                        </div>

                        <p>Unexpected healthcare expenses can take up a great bulk of your savings, and your health and medical insurance coverage may not be enough.</p>
                        <p>With Manulife's health insurance plans, you can enjoy peace of mind knowing you and your family are taken care of. Our plans let you invest in your health today, so you are free to pursue what you want to do now and in the future.</p>

                        <a href="#">Learn more &rarr;</a>

                    </div>

                    <div class="clear"></div><div class="line"></div>

                    <div class="col_three_fifth">

                        <div class="heading-block">
                            <h3>Personal Education Plans</h3>
                            <span>Nothing is more important thank your child's future well-being. With quality education from the best schools, they become open to a world of choices and opportunities to lead the life they deserve.</span>
                        </div>

                        <p>With the rising cost of tuition every year, now is the best time to start planning for your child's education. Manulife Education Builder is an education plan in the Philippines that looks out for your child's future, while giving you opportunities for financial growth.</p>

                        <a href="#">Learn more &rarr;</a>

                    </div>

                    <div class="col_two_fifth topmargin col_last" style="min-height: 350px">
                        <img src="/images/services/education.jpg" alt="Personal Education Plan">
                    </div>

                    <div class="clear"></div><div class="line"></div>

                    <div class="col_two_fifth topmargin nobottommargin" style="min-height: 350px;">
                        <img src="/images/services/retirement.jpg" alt="Personal Retirement Plan">
                    </div>

                    <div class="col_three_fifth nobottommargin col_last">

                        <div class="heading-block">
                            <h3>Personal Retirement Plans</h3>
                            <span>Spend your retirement years with financial peace of mind.</span>
                        </div>

                        <p>There is never a bad time to start planning for your retirement, no matter how early or far along you are in your professional journey. The rule is to start as soon as you can.</p>
                        <p>To secure a comfortable retirement in the coming years, start with Manulife's retirement plan. We can tailor-fit our insurance plans to suit your unique financial needs and budget. With the right retirement plan, you can build your savings and live the retirement you deserve.</p>

                        <a href="#">Learn more &rarr;</a>

                    </div>

                    <div class="clear"></div><div class="line"></div>
                    
                    <div class="col_three_fifth">

                        <div class="heading-block">
                            <h3>Personal Wealth Plans</h3>
                            <span>If you are starting to build your wealth, or already a seasoned investor, Manulife wealth insurance plans can help you grow and diversify your hard-earned money.</span>
                        </div>

                        <p>Our world-class wealth protection insurance investment products, together with our award-winning fund managers will make sure that as you go further in life, your investments will do to.</p>

                        <a href="#">Learn more &rarr;</a>

                    </div>

                    <div class="col_two_fifth topmargin col_last" style="min-height: 350px">
                        <img src="/images/services/wealth.jpg" alt="Personal Wealth Plan">
                    </div>

                    <div class="clear"></div><div class="line"></div>
                    
                    <div class="col_two_fifth topmargin nobottommargin" style="min-height: 350px;">
                        <img src="/images/services/protection.jpg" alt="Personal Protection Plan">
                    </div>

                    <div class="col_three_fifth nobottommargin col_last">

                        <div class="heading-block">
                            <h3>Personal Protection Plans</h3>
                            <span>We can't tell what will happen in the future so it is best to be ready for it.</span>
                        </div>

                        <p>Protect yourself and your loved ones from the unexpected with the right Manulife protection plan.</p>
                        <a href="#">Learn more &rarr;</a>

                    </div>

                </div>

            </div>

        </section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>