---
title: Terms Of Use | Metro Cebu North Force
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{% include head.html %}

<body class="stretched">

    {% include amp-analytics.html %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

        {% include header.html %}
        
        <!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-mini">
            
            <div class="container clearfix">
                <h1>Terms of Use</h1>
                <span>Everything you need to know about our Company</span>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Terms of Use</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
            
            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin clearfix">

                        <div class="single-post nobottommargin">

                            <!-- Single Post
                            ============================================= -->
                            <div class="entry clearfix">

                                <!-- Entry Content
                                ============================================= -->
                                <div class="entry-content notopmargin">

                                    <h2>Legal</h2>
                                    <h3>LEGAL NOTICE</h3>

                                    <h4>Conditions of Use</h4>


                                    <p>PLEASE CAREFULLY READ THIS NOTICE BEFORE YOU USE THIS WEB SITE. IF YOU DO NOT AGREE WITH THE FOLLOWING CONDITIONS OF USE, PLEASE EXIT THIS WEB SITE. BY USING THIS WEB SITE OR ADOPTING ANY INFORMATION IN THIS WEB SITE,  YOU ACKNOWLEDGE YOUR CONSENT TO THE FOLLOWING CONDITIONS OF USE WITHOUT LIMITATION OR QUALIFICATION. THESE CONDITIONS OF USE MAY BE REVISED AT ANY TIME BY UPDATING THIS POSTING AND YOU ARE BOUND BY ANY SUCH REVISIONS. YOU SHOULD THEREFORE PERIODICALLY VISIT THIS PAGE TO REVIEW THE THEN CURRENT CONDITIONS OF USE TO WHICH YOU ARE BOUND.</p>

                                    <h4>Site Content</h4>
                                    <p>The information contained on the pages of this Web site is subject to modification and update from time to time without notice. The Manufacturers Life Insurance Co. (Phils.), Inc.. Manulife Financial Plans, Inc., Manulife Chinabank Life Assurance Corporation (collectively, "Manulife Philippines Group") cannot guarantee or ensure either the accuracy, completeness or authenticity of any Web site content, functionality, or your transmission of any content from this Web site to you.</p>
                                    <p>Certain aspects of this Web site have been prepared by persons other than Manulife Philippines Group. Other World Wide Web sites that may be accessed from this site by hypertext links are entirely independent of this Web site. The inclusion of any site acknowledgments, identification of any person or entity in the site, or any hypertext link to another person or entity shall not, in any manner, be construed as an endorsement of such person's or entity's World Wide Web site, products, services, or contributions to the site.</p>
                                    <p>Other World Wide Web sites that may provide access to this site by hypertext links are entirely independent of this site. Manulife Philippines Group is not responsible for the content of these independent web sites. Any direction by a third party to this site shall not, in any manner be construed as an endorsement by Manulife Philippines Group of such party's World Wide Web site, products or services.</p>
                                    
                                    <h4>Disclaimer</h4>
                                    <p>This Web site does not, and it is not intended to, provide any financial, insurance, legal, accounting, or tax advice, and shall not be relied upon by you in that regard. You agree that you will not use or rely on this Web site as a substitute for your independent research or professional advice that is provided to you in direct consultation with a Manulife Philippines Group's representative.</p>
                                    <p>The information set out in this Web site is not an offer to sell or a solicitation to buy any products and services offered by Manulife Philippines Group.
                                        </p>
                                    <p>You agree that your use of this Web site shall be on an "as is" basis entirely at your risk and without representations or warranties of any kind whatsoever with respect to this Web site or its contents from Manulife Philippines Group. Manulife Philippines Group disclaims all such representations and warranties and does not represent or warrant that the information accessible through this Web site is accurate, complete or current. </p>
                                    <p>Manulife Philippines Group does not warrant or make any representations that the functions contained in the materials will be uninterrupted or error-free, that defects will be corrected or that this Web site or the server that makes it available are free of viruses or other harmful components.
                                    </p>

                                    <h4>Limitation of Liability</h4>
                                    <p>To the fullest extent permissible under applicable law, neither Manulife Philippines, Group nor any if its officers, directors, or employees, nor any other persons associated with the creation of this Web site or its contents, shall be liable or responsible to any person for any harm, loss or damage howsoever caused that may arise in any connection with your use of this Web site, including without limitation any direct, indirect, special, third party, or consequential damages. Without limiting the foregoing, Manulife Philippines Group shall not be responsible for any detrimental reliance that you may place upon this Web site or its contents whatsoever.
                                        </p>
                                    <p>Manulife Philippines Group assumes no responsibility for, and shall not be liable for any damages relating to, or viruses that may infect your computer equipment or other property as a result of your access to, use of, or browsing in this Web site or your downloading of any materials from this Web site.</p>
                                    
                                    <h4>Jurisdiction</h4>
                                    
                                    <p>Manulife Philippines Group products and services are available only in jurisdictions where they may be lawfully offered for sale. All Manulife Philippines Group products and services shall be subject to the terms and conditions of any applicable agreements. Prices and availability information of Manulife Philippines Group products and services are subject to change without notice.
                                    </p><p>
                                    Manulife Philippines Group makes no representation that materials on this Web site are appropriate or available for use in any location. Those who choose to access this Web site do so on their own initiative and are responsible for compliance with local laws.
                                     </p>
                                     <h4>
                                    Intellectual Property</h4>
                                    <p>
                                    All trademarks, service marks, trade names, logos and icons are proprietary to Manulife Philippines Group. Nothing contained on this Web site shall be construed as granting any license or right to use any trademark displayed on this Web site without the written permission of Manulife Philippines Group. Your use of the trademarks displayed on this Web site or any other content on this Web site, except as provided herein, is strictly prohibited.
                                    </p><p>
                                    Images displayed on this Web site are either the property of, or used with permission by, Manulife Philippines Group. The use of these images by you, or anyone authorized by you, is prohibited unless specifically permitted by Manulife Philippines Group. Any authorized use of images may violate copyright laws, trademark laws and other applicable laws and regulations.
                                     </p>
                                     <h4>
                                    Security</h4>
                                    <p>
                                    You acknowledge and confirm that the Internet is not a secure medium where privacy can be ensured, and that complete security and confidentiality over the Internet is not possible at this time. Your confidential use of this Web site cannot be guaranteed and you acknowledge that your use of this Web site (including information you transmit to this Web site) may be subject to access by, or disclosure to, other persons. Without limiting any other disclaimer herein, Manulife Philippines Group shall not be responsible or liable for any harm that you or any other person may suffer in connection with any such breach of confidentiality or security.  
                                    </p><h4>
                                    Privacy</h4>
                                     <p>
                                    Information provided or transmitted by you through our Web site is used for Manulife Philippines Group business purposes only in order to service your needs as a customer.
                                     </p><p>Manulife Philippines may use "cookies" or related technology to track usage of the site and in order to improve our service to you.
                                     </p>
                                     <h4>
                                    Governing Laws
                                     </h4><p>
                                    The interpretation, validity and effect of this Web and its contents or materials shall be governed by and construed in accordance with the laws of the Republic of the Philippines. You hereby consent and agree to submit to the exclusive jurisdiction of the courts of the Philippines in any action or proceeding instituted under or related to this Agreement or your use of this Web site.
                                     </p><p>
                                    Any claim or dispute arising out of or in connection with this Web site, its contents or materials shall be referred to and finally resolved by arbitration in the Philippines through the appropriate courts, tribunals or quasi-judicial agencies.
                                     </p><h4>
                                    Inquiries
                                    </h4></p>
                                    If you would like further information concerning site contents or you wish permission to use, to reproduce, or to republish any site contents, please <a href="mailto:{{ site.email }}">e-mail us</a>.
                                </p>
                                </div>
                            </div><!-- .entry end -->

                            <!-- Post Author Info
                            ============================================= -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Posted by <span><a href="#">Admin</a></span></h3>
                                </div>
                            </div><!-- Post Single - Author End -->

                        </div>

                    </div><!-- .postcontent end -->

                </div>

            </div>

        </section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>